*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(./img/pattern.png);
    background-size: contain;
    background-color:cornflowerblue;
    padding-top: 30px;
}
    
span{
    color: skyblue
}

a:link{
    color: lightskyblue;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

main{
    margin-top: 25px;
}

p{
    margin-top: 20px;
}
ul{
    margin:20px;
}

table{
    border-collapse: collapse;
    
}
    
#riga1{
    background-color: cornflowerblue;
    color: white;
}
.riga{
    background-color: lightskyblue;
}
td{
    padding: 5px;
    text-align: left;
    
}
th{
    text-align: left;
    
}

footer{
    margin-top:20px ;
}


.immagini{
    margin: 10px;
  color: white;
  font-size: 140%;
  text-align:left;
  width: 240px;
  height: 150px;
  padding: 10px;
}

#monitor{
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;

}
#grafico{
    background-image:url(./img/graph.jpg);
    background-repeat: no-repeat;}



