*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#reference{
    color: grey;
}

a:link{
    color: lightskyblue;
    text-decoration: none;
    background-color: transparent;
}

a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}